﻿@model PMS.Models.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PMS | Login</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h3>Project Management Systems</h3>
                <h4>ระบบการจัดการบริหารโครงการ</h4>
                <hr />
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <label class="col-lg-4 control-label">ชื่อผู้ใช้งาน</label>
                    <div class="col-lg-8">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">รหัสผ่าน</label>
                    <div class="col-lg-8">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-8">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            <label>จำชื่อผู้ใช้งาน</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-8">
                        <input type="submit" value="เข้าสู่ระบบ" class="btn btn-primary" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("เสนอหัวข้อโครงการ", "Index", "ProposeTopic")
                </p>
            }
        </div>
    </div>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
