﻿<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">All</span>
                    <h5>ทั้งหมด</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">20</h1>
                    <div class="stat-percent font-bold text-success">100% <i class="fa fa-bolt"></i></div>
                    <small>โครงการ</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">Complete</span>
                    <h5>ปีการศึกษาปัจจุบัน</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">20</h1>
                    <div class="stat-percent font-bold text-info">100% <i class="fa fa-level-up"></i></div>
                    <small>โครงการ</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-warning pull-right">Progress</span>
                    <h5>กำลังดำเนินการ</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">8</h1>
                    <div class="stat-percent font-bold text-warning">40% <i class="fa fa-level-up"></i></div>
                    <small>โครงการ</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">Pre-Approve</span>
                    <h5>กำลังนำเสนอหัวข้อ</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">12</h1>
                    <div class="stat-percent font-bold text-danger">60% <i class="fa fa-level-up"></i></div>
                    <small>โครงการ</small>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h2><i class="fa fa-area-chart"></i> กราฟ</h2>
                </div>
                <div class="ibox-content">
                    <div>
                        <canvas id="lineChart" height="140"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h2><i class="fa fa-calendar"></i> Empty</h2>
                </div>
                <div class="ibox-content">
                    
                </div>
            </div>
        </div>
        
    </div>
    </div>

@section Scripts {
    @Scripts.Render("~/plugins/chartjs")

    <script type="text/javascript">
        $(document).ready(function () {
            projectLineChart();
        });

        function projectLineChart() {
            var lineData = {
                labels: ["2561", "2562", "2563", "2564"],
                datasets: [

                    {
                        label: "สำเร็จ",
                        backgroundColor: "rgba(26,179,148,0.3)",
                        borderColor: "rgba(26,179,148,0.7)",
                        pointBackgroundColor: "rgba(26,179,148,1)",
                        pointBorderColor: "#fff",
                        data: [10, 20, 15, 0]
                    },
                    {
                        label: "กำลังดำเนินการ",
                        backgroundColor: "rgba(248, 172, 89, 0.3)",
                        borderColor: "rgba(248, 172, 89, 0.7)",
                        pointBackgroundColor: "gba(248, 172, 89, 1)",
                        pointBorderColor: "#fff",
                        data: [15, 18, 10, 0]
                    }
                    ,
                    {
                        label: "กำลังเสนอหัวข้อ",
                        backgroundColor: "rgba(237, 85, 101, 0.3)",
                        borderColor: "rgba(237, 85, 101, 0.7)",
                        pointBackgroundColor: "rgba(237, 85, 101, 1)",
                        pointBorderColor: "#fff",
                        data: [2, 4, 15, 0]
                    }
                ]
            };

            var lineOptions = {
                responsive: true
            };


            var ctx = document.getElementById("lineChart").getContext("2d");
            new Chart(ctx, { type: 'line', data: lineData, options: lineOptions });
        }

    </script>
}
