﻿@model IEnumerable<PMS.Models.ActivityModel>
@using System.Globalization

<table class="table table-striped">
    <thead>
        <tr>
            <th>สถานะ</th>
            <th>หัวข้อ</th>
            <th>วันที่เริ่ม</th>
            <th>วันที่สิ้นสุด</th>
            <th>ความคิดเห็น</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            CultureInfo th = new CultureInfo("th-TH");



            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (item.Status == 1)
                        {
                            <span class="label label-default"><i class="fa fa-check"></i> @item.Status</span>
                        }
                        else if (item.Status == 2)
                        {
                            <span class="label label-warning"><i class="fa fa-check"></i> @item.Status</span>
                        }
                        else
                        {
                            <span class="label label-primary"><i class="fa fa-check"></i> @item.Status</span>
                        }
                    </td>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @item.StartTime.ToString("dd/MM/yyyy HH:mm:ss", th)
                    </td>
                    <td>
                        @item.EndTime.ToString("dd/MM/yyyy HH:mm:ss", th)
                    </td>
                    <td>
                        <p class="small">
                            @item.Comment
                        </p>
                    </td>

                </tr>
            }
        }

    </tbody>
</table>
