﻿<div class="row">
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="file-manager">
                    <button class="btn btn-primary btn-block">Upload Files</button>
                    <div class="hr-line-dashed"></div>
                    <p>
                        พื้นที่สำหรับอัพโหลดเอกสารของโครงการ
                    </p>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9 animated fadeInRight">
        <div class="row">
            <div id="listdocument">

            </div>
            
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        loadListDocument();
    });

    function loadListDocument() {
        $.ajax({
                url: '@Url.Action("_ListDocument", "Project")',
                //type: "GET",
                data: { projectId: 1 },
                success: function (response) {
                    $('#listdocument').html(response);
                },
                error: function (response) {
                    $('#listdocument').html(response);
                }
         });
    }

</script>