﻿@model IEnumerable<PMS.Models.DocumentModel>

<div class="col-lg-12">
    @if (Model.Any())
    {
        foreach (var item in Model)
        {
            <div class="file-box">
                <div class="file">
                    <a href="#">
                        <span class="corner"></span>

                        <div class="icon">
                            <i class="fa fa-file"></i>
                        </div>
                        <div class="file-name">
                            @item.DocName
                            <br />
                            <small>เมื่อ: @item.CreatedDate.ToString("dd MMMM yyyy HH:mm:ss")</small>
                        </div>
                    </a>
                </div>
            </div>
        }
    }
</div>
