﻿@model IEnumerable<PMS.Models.MessageModel>
@using System.Globalization

<div class="feed-activity-list">

    @if (Model.Any())
    {
        foreach (var item in Model)
        {

            CultureInfo th = new CultureInfo("th-TH");

            string dateFormat = item.PostDate.ToString("dddd HH น. - dd MMMM yyyy", th);

            <div class="feed-element">
                <a href="#" class="pull-left">
                    <img alt="image" class="img-circle" src="@item.CoverImg">
                </a>
                <div class="media-body ">
                    <small class="pull-right">@item.EarlierTime</small>
                    <strong>@item.Owner</strong> โพสต์ข้อความ.<br>
                    <small class="text-muted">@dateFormat</small>
                    <div class="well">
                        @item.Message
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="text-center">
            <h3><strong>ไม่มีข้อความการสนทนา</strong></h3>
        </div>
    }
</div>