﻿@model PMS.Models.ProjectModel
@using PMS.Helpers
@{

    ViewHelper helperView = new ViewHelper();
    bool isDetail = (bool?)ViewBag.IsDetail ?? false;

}

<div class="row">
    <div class="col-lg-9">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="m-b-md">
                                @if (isDetail)
                                {
                                    <button class="btn btn-warning btn-sm pull-right" onclick="edit()">แก้ไข</button>
                                    <button class="btn btn-primary btn-sm pull-right" style="margin-right: 10px;" onclick="approve()">อนุมัติ</button>
                                }
                                else
                                {
                                    <button class="btn btn-primary btn-sm pull-right" onclick="save()">บันทึก</button>
                                }
                                <h2>
                                    <b>@Model.NameTh</b>

                                    @if (!String.IsNullOrEmpty(Model.NameEn))
                                    {
                                        <br /><span>( @Model.NameEn )</span>
                                    }

                                </h2>
                            </div>
                            <dl class="dl-horizontal">
                                <dt>สถานะ:</dt>
                                <dd>
                                    @if (Model.StatusId == 1)
                                    {
                                        <span class="label label-success">1</span>
                                    }
                                    else if (Model.StatusId == 2)
                                    {
                                        <span class="label label-warning">2</span>
                                    }
                                    else
                                    {
                                        <span class="label label-primary">3</span>
                                    }
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <dl class="dl-horizontal">
                                <dt>ปีการศึกษา:</dt>
                                <dd></dd>
                                <dt>ที่ปรึกษา:</dt>
                                <dd><a href="#" class="text-navy">Dr. Mama</a></dd>
                                <dd></dd>
                                <dt>วันที่แก้ไขล่าสุด:</dt>
                            </dl>
                        </div>
                        <div class="col-lg-7" id="cluster_info">
                            <dl class="dl-horizontal">
                                <dt>วันที่เริ่มโครงการ:</dt>
                                <dd></dd>
                                <dt>วันที่อนุมัติผ่าน:</dt>
                                <dd></dd>
                                <dt>สมาชิก:</dt>
                                <dd class="project-people">
                                    <a href=""><img alt="image" class="img-circle" src=""></a>
                                    <a href=""><img alt="image" class="img-circle" src=""></a>
                                    <a href=""><img alt="image" class="img-circle" src=""></a>
                                    <a href=""><img alt="image" class="img-circle" src=""></a>
                                    <a href=""><img alt="image" class="img-circle" src=""></a>
                                </dd>
                            </dl>
                        </div>
                    </div>

                    @if (Model.TypeId == 2) // 1 = Proposal, 2 = Project
                    {
                        <div class="row">
                            <div class="col-lg-12">
                                <dl class="dl-horizontal">
                                    <dt>ความคืบหน้า:</dt>
                                    <dd>
                                        <div class="progress progress-striped active m-b-sm">
                                            @if (Model.StatusId == 1)
                                            {
                                                <div style="width: 60%;" class="progress-bar progress-bar-success"></div>
                                            }
                                            else if (Model.StatusId == 2)
                                            {
                                                <div style="width: 60%;" class="progress-bar progress-bar-warning"></div>
                                            }
                                            else
                                            {
                                                <div style="width: 60%;" class="progress-bar progress-bar-primary"></div>
                                            }
                                        </div>
                                        <small>โครงการคืบหน้าแล้ว <strong>60%</strong> (ความคืบหน้าของโครงการจะขึ้นอยู่กับผลการประเมิน)</small>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    }

                    <div class="row m-t-sm">
                        <div class="col-lg-12">
                            <div class="panel blank-panel">
                                <div class="panel-heading">
                                    <div class="panel-options">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a href="#tab-1" data-toggle="tab" onclick="loadMessage()">ข้อความ</a></li>
                                            <li class=""><a href="#tab-2" data-toggle="tab" onclick="loadActivity()">ความเคลื่อนไหว</a></li>
                                            <li class=""><a href="#tab-3" data-toggle="tab" onclick="loadCalendar()">ปฏิทินงาน</a></li>
                                            <li class=""><a href="#tab-4" data-toggle="tab" onclick="loadNote()">กระดานงาน</a></li>
                                            <li class=""><a href="#tab-5" data-toggle="tab" onclick="loadDocument()">ไฟล์และเอกสาร</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="panel-body">

                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab-1">

                                        </div>

                                        <div class="tab-pane" id="tab-2">

                                        </div>

                                        <div class="tab-pane" id="tab-3">
                                            <div id="calendar"></div>
                                        </div>

                                        <div class="tab-pane" id="tab-4">

                                        </div>

                                        <div class="tab-pane" id="tab-5">

                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="wrapper wrapper-content project-manager">
            <h3>รายละเอียดโครงการ</h3>
            <img src="http://localhost:58893/Images/zender_logo.png" class="img-responsive">
            <h4>บทคัดย่อ</h4>
            <p class="small">
                @Html.TextAreaFor(m => m.Abstract, helperView.ConditionalDisable(isDetail, new { @class = "form-control", @rows = 15 }))
            </p>
            <h4>วัตถุประสงค์</h4>
            <p class="small">
                @Html.TextAreaFor(m => m.Purpose, helperView.ConditionalDisable(isDetail, new { @class = "form-control", @rows = 15 }))
            </p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".select2-ddl").select2();

        loadMessage();
    });

    /* initialize the calendar */
    function initCalendar(pevnt) {
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            timezone: 'local',
            editable: false,
            events: pevnt,
        });
    }

    function loadCalendar() {
        var pevnt = [
            {
                title: 'Long Event',
                start: new Date(2020, 11, 15 - 5),
                end: new Date(2020, 11, 20 - 2)
            }];


        $.ajax({
                url: '@Url.Action("_Message", "Project")',
                //type: "GET",
                data: { projectId: 1 },
                success: function (response) {
                    $('tab-3').html(response);
                    initCalendar(pevnt);
                },
                error: function (response) {
                    $('tab-3').html(response);
                }
         });
    }

    function loadMessage() {
         $.ajax({
                url: '@Url.Action("_Message", "Project")',
                //type: "GET",
                data: { projectId: 1 },
                success: function (response) {
                    $('#tab-1').html(response);
                },
                error: function (response) {
                    $('#tab-1').html(response);
                }
         });
    }

    function loadActivity() {
         $.ajax({
                url: '@Url.Action("_Activity", "Project")',
                //type: "GET",
                data: { projectId: 1 },
                success: function (response) {
                    $('#tab-2').html(response);
                },
                error: function (response) {
                    $('#tab-2').html(response);
                }
         });
    }

    function loadNote() {
        $.ajax({
                url: '@Url.Action("_Note", "Project")',
                //type: "GET",
                data: { projectId: 1 },
                success: function (response) {
                    $('#tab-4').html(response);
                },
                error: function (response) {
                    $('#tab-4').html(response);
                }
         });
    }

    function loadDocument() {
        $.ajax({
                url: '@Url.Action("_Document", "Project")',
                //type: "GET",
                data: { projectId: 1 },
                success: function (response) {
                    $('#tab-5').html(response);
                },
                error: function (response) {
                    $('#tab-5').html(response);
                }
         });
    }

</script>