﻿@model IEnumerable<PMS.Models.NoteModel> 

<ul class="notes">
    @if (Model.Any())
    {
        foreach (var item in Model)
        {
            <li>
                <div>
                    <small>@item.CreatedDate.ToString("dd MMMM yyyy HH:mm:ss น.")</small>
                    <h4>@item.Title</h4>
                    <p>@item.Content</p>
                    <a href="#"><i class="fa fa-trash-o "></i></a>
                </div>
            </li>
        }
    }
</ul>