﻿@model IEnumerable<PMS.Models.ProjectModel>

<table class="table table-striped table-bordered table-hover dataTables">
    <thead>
        <tr>
            <th class="text-center">
                #
            </th>
            <th>
                ชื่อโครงการ (ภาษาไทย)
            </th>
            <th>
                ชื่อโครงการ (English)
            </th>
            <th>
                วันที่เริ่มโครงการ
            </th>
            <th class="text-center">
                สถานะโครงการ
            </th>
            @*@if (true) // Approve role - Admin Role
                {

                }*@
            <th class="text-center">

            </th>
        </tr>
    </thead>
    <tbody>
        @{ int row = 1; }
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @row
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameTh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameEn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td class="text-center">
                    @*@if (item.ProjectStatus.Id == 1)
                    {
                        <label class="label">@item.ProjectStatus.Name</label>
                    }
                    @if (item.ProjectStatus.Id == 2)
                    {
                        <label class="label label-warning">@item.ProjectStatus.Name</label>
                    }
                    @if (item.ProjectStatus.Id == 3)
                    {
                        <label class="label label-primary">@item.ProjectStatus.Name</label>
                    }*@
                </td>
                <td class="text-center">
                    <button class="btn btn-primary btn-xs" style="margin-right: 15px;" onclick="btnApprove(@item.Id)"><i class="fa fa-check"></i></button>
                    <button class="btn btn-success btn-xs" style="margin-right: 15px;" onclick="btnEdit(@item.Id)"><i class="fa fa-eye"></i></button>
                    <button class="btn btn-danger btn-xs" onclick="btnDelete(@item.Id)"><i class="fa fa-trash"></i></button>
                </td>
            </tr>

            row++;

        }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $('.dataTables').DataTable({
            pageLength: 15,
            lengthMenu: [[15, 30, 45, -1], [15, 30, 45, "All"]],
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                { extend: 'csv' },
                { extend: 'excel', title: 'ExampleFile' },
                {
                    extend: 'print',
                    customize: function (win) {
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                }
            ]

        });
    });
</script>