﻿@model PMS.Models.ProjectModel

@Html.Hidden("Id", Model.Id)

<div id="info">

</div>


@section Styles {
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/fullCalendarStyles")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/fullCalendar")

    <script type="text/javascript">
        $(document).ready(function () {
            load();
        });

        function load() {
            var projectId = $('#Id').val();

            $.ajax({
                url: '@Url.Action("_MyProject", "Project")',
                //type: "GET",
                data: { projectId: projectId, isDetail: true },
                success: function (response) {
                    $('#info').html(response);
                },
                error: function (response) {
                    $('#info').html(response);
                }
            });
        }

        function edit(projectId) {
            $.ajax({
                url: '@Url.Action("_MyProject", "Project")',
                //type: "GET",
                data: { projectId: projectId },
                success: function (response) {
                    $('#info').html(response);
                },
                error: function (response) {
                    $('#info').html(response);
                }
            });
        }



    </script>
}