﻿<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h2><i class="fa fa-book"></i> รายการ</h2>
                </div>
                <div class="ibox-content">
                    <div id="tblProject">
                        @Html.Action("_TblProjectPartial", "Project")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/sweetAlert")

    <script type="text/javascript">
    $(document).ready(function () {

    });

    function btnApprove(projectId) {
        swal({
            title: "",
            text: 'คลิกปุ่ม "ยืนยัน" เพื่อส่งขออนุมัติหัวข้อโครงการ',
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#1C84C6",
            confirmButtonText: "ยืนยัน",
            cancelButtonText: "ยกเลิก",
            closeOnConfirm: false
        },
            function () {
                var isSuccess = true;

                if (isSuccess) {
                    swal("ลงทะเบียนสำเร็จ!", "รอการอนุมัติโครงการ.", "success");
                } else {
                    swal("ลงทะเบียนไม่สำเร็จ!", "พบข้อผิดพลาด +++", "error");
                }
        });
    }

    function btnEdit(projectId) {
        window.open('@Url.Action("Edit", "Project")/' + projectId, '_blank');
    }

    function btnDelete() {
        swal({
            title: "",
            text: 'คลิกปุ่ม "ยืนยัน" เพื่อลบโครงการ',
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#1C84C6",
            confirmButtonText: "ยืนยัน",
            cancelButtonText: "ยกเลิก",
            closeOnConfirm: false
        },
            function () {
                var isSuccess = false;

                if (isSuccess) {
                    swal("ลงทะเบียนสำเร็จ!", "รอการอนุมัติโครงการ.", "success");

                    setTimeout(function () {
                        window.location.href = '@Url.Action("Index", "Project")';
                    }, 2500);

                } else {
                    swal("ลงทะเบียนไม่สำเร็จ!", "พบข้อผิดพลาด +++", "error");
                }
        });
    }

    </script>
}


