﻿@model PMS.Models.ProposalModel

@{
    List<SelectListItem> members = new List<SelectListItem>();
    List<SelectListItem> teachers = new List<SelectListItem>();

    var studentData = new[]{
                 new SelectListItem{ Value="1",Text="ปลาหยุด"},
                 new SelectListItem{ Value="2",Text="ปลาหวิด"},
                 new SelectListItem{ Value="3",Text="ปลาลีนา"},
                 new SelectListItem{ Value="4",Text="ปลาสลิด"},
                 new SelectListItem{ Value="5",Text="ปลาเผา"},
                 new SelectListItem{ Value="6",Text="ปลาปปิ้ง"},
                 new SelectListItem{ Value="7",Text="ปลากรอบ"},
             };

    var teacherData = new[]{
                 new SelectListItem{ Value="11",Text="จันทร์"},
                 new SelectListItem{ Value="22",Text="โอ"},
                 new SelectListItem{ Value="33",Text="ชา"},
                 new SelectListItem{ Value="44",Text="ปลา"},
                 new SelectListItem{ Value="55",Text="หยุด"}
             };

    members = studentData.ToList();
    teachers = teacherData.ToList();
}

<form id="proposal">
    <div class="wrapper wrapper-content animated fadeInRight form-horizontal">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="row m-md">
                            <div class="col-lg-12">
                                <h2 class="text-center"><i class="fa fa-edit"></i> รายละเอียด</h2>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label class="col-lg-2 control-label">ชื่อหัวข้อ :</label>
                                <div class="col-lg-8">
                                    @Html.TextBoxFor(m => m.Subject, new { @class = "form-control input-sm", @required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">สมาชิก :</label>
                                <div class="col-lg-8">
                                    @Html.ListBoxFor(m => m.Members, new SelectList(members, "Value", "Text"), new { @class = "select2-ddl form-control", @multiple = "multiple", @required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">อาจารย์ที่ปรึกษา :</label>
                                <div class="col-lg-8">
                                    @Html.ListBoxFor(m => m.Teachers, new SelectList(teachers, "Value", "Text"), new { @class = "select2-ddl form-control", @multiple = "multiple", @required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">วัตถุประสงค์ :</label>
                                <div class="col-lg-8">
                                    @Html.TextAreaFor(m => m.Propose, new { @class = "form-control input-sm", @rows = 10, @required = "required" })
                                </div>
                            </div>
                        </div>

                        <div class="row m-md">
                            <div class="col text-center">
                                <button id="btnRegis" type="button" class="btn btn-primary" onclick="btnSumbit()"><i class="fa fa-pencil"></i> ลงทะเบียน</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Styles {
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/sweetAlertStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
}


@section Scripts {
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/plugins/validate")

    <script type="text/javascript">
        var form = $("#proposal");
        $(document).ready(function () {
            $(".select2-ddl").select2();
        });



        function btnSumbit() {
            swal({
                title: "",
                text: 'กรุณาตรวจสอบข้อมูลให้ถูกต้องก่อนคลิก (ยืนยัน)',
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#1C84C6",
                confirmButtonText: "ยืนยัน",
                cancelButtonText: "ยกเลิก",
                closeOnConfirm: true
            },
                function (isConfirm) {

                    console.log(isConfirm);

                    if (isConfirm) {
                        saveProposal();
                    }
                });
        }

        function saveProposal() {
            $('#loading').show();
            $.ajax({
                type: "POST",
                url: "@Url.Action("Save", "Proposal")",
                data: $("#proposal").serialize(),
                success: function (result) {
                    if (result.Message == "successful") {
                        $('#loading').hide();

                        // Redirect to Next Step
                        window.location.href = '@Url.Action("Upload", "Proposal")/' + result.Data;
                    }

                },
                 error: function (result) {
                    alert('error');
                    console.log(result);
                }
            });
        }

    </script>
}


