﻿@model PMS.Models.ProjectModel

<div class="wrapper wrapper-content animated fadeInRight form-horizontal">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row m-md">
                        <div class="col text-center">
                            <i class="fa fa-check-circle text-info fa-5x"></i>
                            <br />
                            <h2 class="text-info">การลงทะเบียนเสร็จสิ้น</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="well m-lg">
                            <div class="row m-md">
                                <div class="col-lg-3">

                                </div>
                                <div class="col-lg-6">
                                    <label class="col-lg-6 text-right">สถานะโครงการ :</label>
                                    <div class="col-lg-6">

                                        @switch (Model.StatusId)
                                        {
                                            case 1:
                                                <label class="badge badge-warning">รอการอนุมัติ</label>
                                                break;
                                            case 2:
                                                <label class="badge badge-primary">ผ่านการอนุมัติ</label>
                                                break;
                                            case 3:
                                                <label class="badge badge-danger">ไม่ผ่านการอนุมัติ</label>
                                                break;
                                            default:
                                                break;
                                        }

                                    </div>
                                </div>
                                <div class="col-lg-3">

                                </div>
                            </div>
                            <div class="row m-md">
                                <div class="col-lg-3">

                                </div>
                                <div class="col-lg-6">
                                    <label class="col-lg-6 text-right">รหัสโครงการ :</label>
                                    <div class="col-lg-6">
                                        <label class="label label-default">@Model.Code</label>
                                    </div>
                                </div>
                                <div class="col-lg-3">

                                </div>
                            </div>
                            <div class="row m-md">
                                <div class="col-lg-3">

                                </div>
                                <div class="col-lg-6">
                                    <label class="col-lg-6 text-right">ชื่อโครงการ :</label>
                                    <div class="col-lg-6">
                                        <label class="label label-default">@Model.NameTh</label>
                                    </div>
                                </div>
                                <div class="col-lg-3">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row m-md">
                        <div class="col-lg-3">

                        </div>
                        <div class="col-lg-6">
                            <div class="col-lg-12 text-center">
                                <button class="btn btn-md btn-success" type="button" onclick="finish()"><i class="fa fa-check"></i> ตกลง</button>
                            </div>
                        </div>
                        <div class="col-lg-3">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

        $(document).ready(function () {

        });

        function finish() {
            $('#loading').show();

            // Redirect to Next Step
            window.location.href = '@Url.Action("Report", "Project")';
        }

</script>