﻿@model PMS.Models.ProjectModel

<form id="proposalFile">
    @Html.HiddenFor(m => m.Id)

    <div class="wrapper wrapper-content animated fadeInRight form-horizontal">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="row m-md">
                            <div class="col-lg-12">
                                <h2 class="text-center"><i class="fa fa-cloud-upload"></i> อัพโหลดเอกสาร</h2>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label class="col-lg-2 text-right">รหัสโครงการ:</label>
                                <div class="col-lg-1 text-left">
                                    <label class="label label-default">@Model.Code</label>
                                </div>

                                <label class="col-lg-2 text-right">ชื่อโครงการ:</label>
                                <div class="col-lg-7 text-left">
                                    <label class="label label-default">@Model.NameTh</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 text-right">ไฟล์เอกสาร :</label>
                                <div class="col-lg-8">
                                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                        <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i><span class="fileinput-filename"></span></div>
                                        <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">เลือกไฟล์</span><span class="fileinput-exists">เปลี่ยน</span><input id="file-upload" type="file" name="fileUpload" required></span>
                                        <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">ลบ</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row m-md">
                            <div class="col text-center">
                                <button type="button" class="btn btn-primary" onclick="btnSumbit()"><i class="fa fa-cloud-upload"></i> อัพโหลด</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


@section Styles {
    @Styles.Render("~/plugins/sweetAlertStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/plugins/jasnyBootstrap")

    <script type="text/javascript">

        $(document).ready(function () {

        });

        function btnSumbit() {
            var fileUpload = $("#file-upload").get(0);
            var files = fileUpload.files;

            if (files.length > 0) {
                swal({
                    title: "",
                    text: 'กรุณาตรวจสอบข้อมูลให้ถูกต้องก่อนคลิก (ยืนยัน)',
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#1C84C6",
                    confirmButtonText: "ยืนยัน",
                    cancelButtonText: "ยกเลิก",
                    closeOnConfirm: true
                },
                    function (isConfirm) {

                        console.log(isConfirm);

                        if (isConfirm) {
                            saveFile();
                        }
                    });
            }
        }

        function saveFile() {
            $('#loading').show();

            var fileUpload = $("#file-upload").get(0);
            var files = fileUpload.files;
            var data = new FormData();

            if (files.length > 0)
            {
                for (var i = 0; i < files.length; i++) {
                    data.append("Files", files[i]);
                }

                //Add the input element values
                data.append("Id", $("#Id").val());

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Upload", "Proposal")",
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {

                        if (result.Message == "successful") {
                             $('#loading').hide();

                             // Redirect to Next Step
                             window.location.href = '@Url.Action("Result", "Proposal")?id=' + result.Data;
                        }

                    },
                    error: function () {
                        alert("There was error uploading files!");
                    }
                });
            }
        }

    </script>
}
