﻿@using PMS.Helpers
@using PMS.Models

@{
    MenuHelperExtension menuHelper = new MenuHelperExtension();

    Menu mainMenu = menuHelper.GetListMenu();

    List<MenuItem> subMenu = mainMenu.items.Where(w => w.ParentId != null).ToList();
}

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">Major9</strong>
                            </span> <span class="text-muted text-xs block">ตั้งค่า<b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="#">ข้อมูลส่วนตัว</a></li>
                        <li><a href="#">ออกจากระบบ</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    PMS
                </div>
            </li>
            @foreach (var main in mainMenu.items)
            {
                if (main.ParentId == null)
                {
                    <li class="@Html.IsSelected(controller: main.ControllerName)">
                        @if (subMenu.Where(w => w.ParentId == main.Id).Any())
                        {
                            <a href="#"><i class="@main.CssClass"></i> <span class="nav-label" data-i18n="nav.forms">@main.NameTH</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse @Html.IsSelected(controller: main.ControllerName, cssClass: "in")">
                                @foreach (var sub in subMenu)
                                {
                                    <li class="@Html.IsSelected(action: sub.ActionName)"><a href="@Url.Action(sub.ActionName, sub.ControllerName)">@sub.NameTH</a></li>
                                }
                            </ul>
                        }
                        else
                        {
                            <a href="@Url.Action(main.ActionName, main.ControllerName)"><i class="@main.CssClass"></i> <span class="nav-label">@main.NameTH</span> </a>
                        }

                    </li>
                }

            }
        </ul>
    </div>
</nav>