﻿<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" method="post" action="">
                <div class="form-group">
                    <input type="text" placeholder="ค้นหา..." class="form-control" name="top-search" id="top-search">
                </div>
            </form>
        </div>
        @Html.Partial("_LoginPartial")
    </nav>
</div>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>

        @if (ViewBag.Title != "หน้าหลัก")
        {
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">หน้าหลัก</a>
                </li>
                <li class="active">
                    <strong>@ViewBag.Title</strong>
                </li>
            </ol>
        }
        else
        {
            <ol class="breadcrumb">
                <li class="active">
                    Dashboard
                </li>
            </ol>
        }

    </div>
    <div class="col-lg-2">

    </div>
</div>