﻿@model IEnumerable<PMS.Models.AssessmentProjectModel>

@{ 
    double averagePercent = 100 / Model.Count();
    double sumPoint = Model.Sum(s => s.Point);
    double sumPointPercent = Model.Where(w => w.Status == 1).Count() * averagePercent;
}

<div class="col-lg-12">
    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="ibox-content m-b-sm border-bottom">
            <div class="p-xs">
                <div class="pull-left m-r-md">

                </div>
                <h2>@ViewBag.Project</h2>
                <span>การประเมินผลของคณะที่ปรึกษา</span>
            </div>
        </div>

        <div class="ibox-content forum-container">

            <div class="forum-title">
                <div class="pull-right forum-desc">
                    <samll>~ <strong>@sumPointPercent.ToString("N2")</strong> %</samll>
                </div>
                <div class="pull-right forum-desc">
                    <samll> รวม: <strong>@sumPoint.ToString("N2")</strong> คะแนน </samll>
                </div>
                <h3>หัวข้อ</h3>
            </div>

            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    string active = "";
                    string cssClass = "fa-circle-o";

                    if (item.Status == 1)
                    {
                        active = "active";
                        cssClass = "fa-check-circle-o";
                    }

                    <div class="forum-item @active">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <a href="#" class="forum-item-title" onclick="modalAssessment(@item.Id)">@item.WeekName</a>
                                <div class="forum-sub-title">@item.WorkDiscription</div>
                            </div>
                            <div class="col-md-1 forum-info">
                    
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    <i class="fa @cssClass"></i>
                                </span>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    @item.Point.ToString("N0")
                                </span>
                                <div>
                                    <small>คะแนน</small>
                                </div>
                            </div>
                        </div>
                    </div>                
                }
             }
        </div>
    </div>
</div>
