﻿@model PMS.Models.AssessmentProjectModel

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">@Model.WeekName</h4>
        <small class="font-bold">@Model.WorkDiscription</small>
    </div>
    <div class="modal-body">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>ลำดับ</th>
                    <th>รายการ</th>
                    <th class="text-center">ผลการประเมิน</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ListQuestionAsset.Any())
                {
                    int row = 1;
                    foreach (var item in Model.ListQuestionAsset)
                    {
                        <tr>
                            <td>@row</td>
                            <td>@item.Question</td>
                            <td class="text-center ">
                                @if (item.IsAssesment)
                                {
                                    <div class="checkbox checkbox-primary" style="margin: 0 auto;">
                                        <input type="checkbox" disabled checked="checked">
                                        <label></label>
                                    </div> 
                                }
                                else
                                {
                                    <div class="checkbox checkbox-primary" style="margin: 0 auto;">
                                        <input type="checkbox">
                                        <label></label>
                                    </div>
                                }
                            </td>
                        </tr>
                        row++;
                    }
                }

            </tbody>

        </table>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary">บันทึก</button>
        <button type="button" class="btn btn-white" data-dismiss="modal">ปิด</button>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
    });
</script>