﻿@model IEnumerable<PMS.Models.ProjectModel>

<table class="table table-striped table-bordered table-hover dataTables">
    <thead>
        <tr>
            <th class="text-center">
                #
            </th>
            <th>
                ชื่อโครงการ (ภาษาไทย)
            </th>
            <th>
                ชื่อโครงการ (English)
            </th>
            <th>
                วันที่เริ่มโครงการ
            </th>
            <th class="text-center">
                สถานะโครงการ
            </th>
        </tr>
    </thead>
    <tbody>
        @{ int row = 1; }
        @foreach (var item in Model)
        {
            <tr style="cursor: pointer;" onclick="assessment(@item.Id)">
                <td class="text-center">
                    @row
                </td>
                <td>
                    @item.NameTh
                </td>
                <td>
                    @item.NameEn
                </td>
                <td>
                    @item.CreatedDate.Value.ToString("dd/MM/yyyy HH:mm:ss")
                </td>
                <td class="text-center">
                    @*@if (item.PStatusId == 1)
                    {
                        <label class="label">เสนอหัวข้อโครงการ</label>
                    }
                    @if (item.PStatusId == 2)
                    {
                        <label class="label label-warning">กำลังดำเนินการ</label>
                    }
                    @if (item.PStatusId == 3)
                    {
                        <label class="label label-primary">เสร็จสิ้น</label>
                    }*@
                </td>
            </tr>
    
            row++;
    
        }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $('.dataTables').DataTable({
                pageLength: 15,
                lengthMenu: [[15, 30, 45, -1], [15, 30, 45, "ทั้งหมด"]],
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });
    });

    function assessment(projectId) {
        window.open('@Url.Action("AssessmentProject", "Assessment")' + '?projectId=' + projectId, '_blank');
    }

</script>