﻿<div class="row">
    <div id="assessment">

    </div>
</div>

<div class="modal inmodal fade" id="assetModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div id="assetModalcontent">

        </div>
    </div>
</div>


@section Styles {
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
}

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            loadAssessment();
        });

        function loadAssessment() {
            $.ajax({
                url: '@Url.Action("_ListAssessmentProject", "Assessment")',
                //type: "GET",
                data: { projectId: 1 },
                success: function (response) {
                    $('#assessment').html(response);
                },
                error: function (response) {
                    $('#assessment').html(response);
                }
            });
        }

        function modalAssessment(id) {
            $.ajax({
                url: '@Url.Action("_ModalAssessmentPartial", "Assessment")',
                data: { Id: id },
                success: function (response) {
                    $('#assetModal').modal('show');
                    $('#assetModalcontent').html(response);
                },
                error: function (response) {
                    $('#assetModal').modal('show');
                    $('#assetModal').html(response);
                }
            });
        }

        function saveAssesment() {
            $.ajax({
                url: '@Url.Action("", "Assessment")',
                data: { Id: id },
                success: function (response) {
                    $('#assetModal').modal('show');
                    $('#assetModalcontent').html(response);
                },
                error: function (response) {
                    $('#assetModal').modal('show');
                    $('#assetModal').html(response);
                }
            });
        }

    </script>
}
